.gp_header{
    display: flex;
}
.gp_header-content{
    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}
.gp_header-content h1{
    font-family: Poppins, 'sans-serif';
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
}
.gp_header-content p{
    font-family: raleway, 'sans-serif';
    font-size: 20px;
    color: #81AFDD;
}
